##################
# specific files #
##################

downloads/*
documents/*
software/*
.private/*
.ssh/*
music/*
.lyrics/*
.cache/*
.bash_history
.adobe/*
.macromedia/*
.local/*
.i3/logs/*
.weechat/irc.conf
.config/mpd/mpd.log
.config/mpd/mpd.pid
.config/mpd/mpd.state
.viminfo
.xsel.log
.weechat/weechat.log
.mplayer/*
.Xauthority
.sdcv_history
.config/gtk-2.0/*
.stardict/*

# Compiled Sources

*.7z
*.bz2
*.gz
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tbz2
*.tgz
*.xz
*.zip
*.Z

# Temp files

*.swp
